<% layout('/layouts/boilerplate') -%>

  <div class="header-section-outer">
    <div class="header-section">
      <div class="header-section-content">
        <h1>Error</h1>
        <!-- content -->
      </div>
    </div>
  </div>

  <div class="error-message" role="alert">
    <p>
      <i class="fa-solid fa-triangle-exclamation"></i> 
      <%= message %>
    </p>
  </div>